ContentManagement/Dropthings/App_WebReferences/ServiceSlideShow/ServiceSlideShow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllSlides">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contextKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSlidesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSlidesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSlides">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rowNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="colNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="maxCol" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSlidesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSlidesResult" type="tns:ArrayOfSlide" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSlide">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Slide" nillable="true" type="tns:Slide" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Slide">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSlidesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSlides" />
  </wsdl:message>
  <wsdl:message name="GetAllSlidesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSlidesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSlides" />
  </wsdl:message>
  <wsdl:message name="GetSlidesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSlidesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSlideShowSoap">
    <wsdl:operation name="GetAllSlides">
      <wsdl:input message="tns:GetAllSlidesSoapIn" />
      <wsdl:output message="tns:GetAllSlidesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSlides">
      <wsdl:input message="tns:GetSlidesSoapIn" />
      <wsdl:output message="tns:GetSlidesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSlideShowSoap" type="tns:ServiceSlideShowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSlides">
      <soap:operation soapAction="http://tempuri.org/GetAllSlides" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSlides">
      <soap:operation soapAction="http://tempuri.org/GetSlides" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSlideShowSoap12" type="tns:ServiceSlideShowSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllSlides">
      <soap12:operation soapAction="http://tempuri.org/GetAllSlides" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSlides">
      <soap12:operation soapAction="http://tempuri.org/GetSlides" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSlideShow">
    <wsdl:port name="ServiceSlideShowSoap" binding="tns:ServiceSlideShowSoap">
      <soap:address location="http://localhost:3039/ServiceSlideShow.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSlideShowSoap12" binding="tns:ServiceSlideShowSoap12">
      <soap12:address location="http://localhost:3039/ServiceSlideShow.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>